<!DOCTYPE html>
<html lang="en" ng-app="translationApp" data-framework="angularjs">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="{{ url_for('static', filename='angular/angular.min.js') }}"></script>
    <script src="{{ url_for('static', filename='angular-gettext/dist/angular-gettext.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/controllers/translationCtrl.js') }}"></script>
    <script src="{{ url_for('static', filename='js/translations.js') }}"></script>
</head>
<body ng-controller="TranslationCtrl">

<h1>BIG PARAGRAPH</h1>

<p translate>First you need to mark all the strings you want to translate in your application with gettext() or
    ngettext(). After that, it’s time to create a .pot file. A .pot file contains all the strings and is the
    template for a .po file which contains the translated strings. Babel can do all that for you. First you need to
    mark all the strings you want to translate in your application with gettext() or ngettext(). After that, it’s
    time to create a .pot file. A .pot file contains all the strings and is the template for a .po file which
    contains the translated strings. Babel can do all that for you. First you need to mark all the strings you want
    to translate in your application with gettext() or ngettext(). After that, it’s time to create a .pot file. A
    .pot file contains all the strings and is the template for a .po file which contains the translated strings.
    Babel can do all that for you.</p>

<p translate>First you need to mark all the strings you want to translate in your application with gettext() or
    ngettext(). After that, it’s time to create a .pot file. A .pot file contains all the strings and is the
    template for a .po file which contains the translated strings. Babel can do all that for you. First you need to
    mark all the strings you want to translate in your application with gettext() or ngettext(). After that, it’s
    time to create a .pot file.</p>

<p translate> A .pot file contains all the strings and is the template for a .po file which
    contains the translated strings. Babel can do all that for you. First you need to mark all the strings you want
    to translate in your application with gettext() or ngettext(). After that, it’s time to create a .pot file. A
    .pot file contains all the strings and is the template for a .po file which contains the translated strings.
    Babel can do all that for you.</p>

<p translate>
    Granny Smith, Royal Gala, Golden Delicious and Pink Lady are just a few of the thousands of different kinds of apple
    that are grown around the world! You can make dried apple rings at home - ask an adult to help you take out the
    core, thinly slice the apple and bake the rings in the oven at a low heat. - See more at:
    http://www.greatgrubclub.com/a-z-fruit-veg#.VmbSHuOLRTY
</p>

<p translate>
    Apricots can be eaten fresh or dried - both are packed with vitamins! Fresh apricots have a soft and slightly furry
    skin. They make a good lunchbox snack. Apricots are also high in beta-carotene - this helps us keep our eyes and
    skin healthy.
</p>

<p translate>What is it: Lead generation ‘directory’ for our customers that helps them acquire new customers</p>

<h1>Angular fruits</h1>

<p translate>A big translatable list of fruit</p>
<ul>
    <li translate>lychees</li>
    <li translate>kiwi</li>
    <li translate>blueberries</li>
    <li translate>raspberries</li>
    <li translate>cranberries</li>
</ul>
<ul>
    <li>Duplicate test:</li>
    <li translate>cranberries</li>
</ul>


<h1>Dynamic stuff</h1>
{% raw %}
<p>Comment:{{ comment | translate }}</p>
<p>Another: {{ another | translate }}</p>
{% endraw %}


<button ng-click="translateEN()">EN</button>
<button ng-click="translateFR()">FR</button>


</body>
</html>
